{
	email {$ACME_EMAIL}
}

{$APP_DOMAIN} {
	encode zstd gzip
	reverse_proxy frontend:80
}

www.{$APP_DOMAIN} {
	redir https://{$APP_DOMAIN}{uri} permanent
}

{$API_DOMAIN} {
	encode zstd gzip
	reverse_proxy api:8080
}
